body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background-color: #007acc;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

section {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  background-color: #ffce00;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}
